.tabbar-img {
  position: relative;
}

.tabbar-img-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  display: none;
}

.tabbar-img-overlay a {
  margin: auto;
}

.tabbar-img:hover .tabbar-img-overlay {
  display: flex;
}

.tabbar-img-button {
  padding: 12px 30px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 4px;
  border-color: #ccc;
  margin: auto;
}

.tabbar-img-button:hover {
  background-color: #f26c39;
  border-color: transparent;
}
.content {
  text-align: left;
}
button.tabbar-img-button.btn.btn-light {
  background-color: transparent;
  color: white;
  border-radius: unset;
  padding: 12px 32px;
}
button.tabbar-img-button.btn.btn-light:hover {
  background-color: #f26c39;
  border: #f26c39;
  border-radius: unset;
}

.nav-tabs .nav-link.active {
  color: #f33e08;
  font-weight: 600;
}

.tab-homepage.nav.nav-tabs {
  color: orangered;
}

.tab-homepage.nav.nav-tabs a {
  color: #888;
  font-size: 25px;

}

.tab-homepage.nav.nav-tabs a.active {
  color: orangered;
  font-weight: normal;
}
